fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
pydantic-settings==2.10.1
sqlalchemy==2.0.43
httpx==0.28.1
yt-dlp==2025.2.19
faster-whisper==1.1.1
langchain==0.3.27
langchain-ollama==0.3.6
langchain-chroma==0.2.5
langchain-huggingface==0.3.1
langchain-community==0.3.27
langchain-text-splitters==0.3.9
chromadb==1.0.20
sentence-transformers==5.1.0
reportlab==4.4.3
pytest==8.4.1
